body {
  box-sizing: border-box;
  display: grid;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  grid-template-areas:
  "nav nav"
  "main output"
  "main ouput";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
} 

/*NAV*/

nav {
  background-color: #1F1F3D;
  display: flex;
  grid-area: nav;
  height: 70px;
  justify-content: space-between;
  padding: 0px 10px;
}

h1 {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 36px;
}

.nav__h1 {
  color: #FFC30C;
}

.nav--search {
  align-items: center;
  display: flex;
}

.nav__image {
  background-color: #C8C8C8;
  height: 20px;
  padding: 10px;
}

.nav__input {
  border-bottom: #1F1F3D;
  border-top: #1F1F3D;
  font-size: 14px;
  height: 40px;
  padding-left: 10px;
  width: 250px;
}

/*MAIN & FORM*/

main {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  grid-area: main;
  min-width: 250px;
}

fieldset {
  border: 0;
}

.form__fieldset {
  padding-top: 30px;
}

label {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
}

.form__input--title {
  height: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 99%;
}

.form__div {
  display: flex;
  margin-bottom: 20px;
  margin-top: 5px;
}

.form__input--item {
  height: 40px;
  width: 89%;
}

.form__button--plus {
  background-color: #1F1f3D;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  width: 45px;
}

.form__buttons {
  background-color: #1F1f3D;
  border-radius: 2px;
  border: black;
  color: #FFFFFF;
  font-weight: 700;
  height: 40px;
  margin-bottom: 15px;
  width: 100%;
}

.form__section {
  border-top: #3C6577 2px solid;
  padding: 0.35em 0.75em 0.625em;
}

.form__button--filter {
  margin-top: 20px;
}

.form__button--delete-task {
  height: 16px;
  margin-bottom: -2px;
}

.form__list {
  color: #FFFFFF;
  font-size: 18px;
  list-style: none;
  margin: 0px 0px 10px -20px;
}

.form__button--plus:disabled,
.form__buttons:disabled {
  background-color: #C7D3D8;
}

/*OUTPUT*/

output {
  background-color: #F3F6F7;
  column-gap: 20px;
  columns: 2 250px;
  grid-area: output;
  height: 100vh;
  padding: 20px;
}

.output__p {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  position: absolute;
  text-align: center;
}

.output__p--urgency {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  position: absolute;
  text-align: center;
}

.hidden {
  display: none;
}

/*TO DO LIST*/

article {
  background-color: #FAFDFF;
  border: 2px #C7D3D8 solid;
  break-inside: avoid;
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 1px;
  width: 100%;
}

h2 {
  color: #1F1F3D;
  font-size: 18px;
  margin: 7px 10px;
}

.section__p--populate {
  font-weight: 400;
  margin: -2px 7px 0px 7px;
  width: 85%;
}

.section__li {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  margin-left: -25px;
}

.section__image--checkbox {
  height: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer__div {
  display: flex;
  flex-direction: column;
  padding: 8px 8px 5px 8px;
}

.footer__image {
  height: 22px;
}

.footer__div p {
  font-size: 10px;
  font-weight: 400;
  margin: 5px 5px 0px 5px;
}

.footer__p--delete {
  color: #3C6577;
}

/*ACTIVE/INACTIVE*/

.inactive {
  color: #3C6577;
}

.active {
  color: red;
}

.background-inactive {
 background-color: #FAFDFF;
 border: 2px #C7D3D8 solid;
}

.background-active {
  background-color: #FFE89D;
  border: 2px #FFC30C solid;
}

.section--container {
  border-bottom: 2px #C7D3D8 solid;
  border-top: 2px #C7D3D8 solid;
}

.border-inactive {
  border-bottom: 2px #C7D3D8 solid;
  border-top: 2px #C7D3D8 solid;
}

.border-active {
  border-bottom: 2px #FFC30C solid;
  border-top: 2px #FFC30C solid;
}

.checkbox-text-active {
  color: #3C6577;
  font-style: italic;
}

.filter-btn-active {
 background-color: #EF4A23;
 border: #782616;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 595px) {

  nav {
    height: 120px;
    justify-content: center; 
  }

  h1 {
    font-size: 32px;
    margin-top: 10px;
    position: absolute;
  }

  .nav--search {
    margin-bottom: 13px;
    margin-top: 65px;
  }
}

@media screen and (max-width: 500px) {

  body {
    display: flex;
    flex-direction: column;
  }

  .nav__input {
    width: 90%;
  }

  .nav--search {
    width: 99%;
  }

  output {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px 18px 20px 13px;
  }

  .output__p--urgency,
  .output__p {
    font-size: 46px;
  }